<div class="row">
    <div class="col-md-8 col-md-offset-2">
       {{# each orders }}
            <div class="panel panel-default">
                <div class="panel-body">
                    <ul class="list-group">
                        {{# each this.items }}
                            <li class="list-group-item">
                                {{ this.item.title }} |
                                <span> {{ this.qty }}</span> Units
                            </li>
                        {{/each}}
                    </ul>
                </div>

            </div>
        {{/each}}
    </div>
</div>